<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alan.project.mapper.NotificationMapper">
    <insert id="insertNotification" parameterType="com.alan.project.dao.Notification">
        insert into t_notification (comment_id,reply_id,parent_id,notifier_id,notifier_name,notifier_avatar,receiver_id,outer_id,outer_title,type,status,content,create_time)
        values (#{commentId},#{replyId},#{parentId},#{notifierId},#{notifierName},#{notifierAvatar},#{receiverId},#{outerId},#{outerTitle},#{type},#{status},#{content},#{createTime});
    </insert>

    <select id="getNotifications" parameterType="com.alan.project.dao.NotificationPagination" resultType="com.alan.project.dao.Notification">
        select * from t_notification where receiver_id = #{uid} order by create_time desc limit #{offset},#{size}
    </select>

    <select id="getUnreadCounts" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(*) from t_notification where receiver_id = #{uid} and status = #{status}
    </select>

    <update id="updateNotificationStatus" parameterType="java.lang.Integer">
        update t_notification set status = 1 where receiver_id = #{uid} and status = #{status}
    </update>
 </mapper>