<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alan.project.mapper.QuestionMapper">
    <insert id="createQuestion" parameterType="com.alan.project.dao.Question" >
        insert into t_question (creator,avatar,github_url,title,content,html_content,tag,file_url,create_time,modified)
        values (#{creator},#{avatar},#{githubUrl},#{title},#{content},#{htmlContent},#{tag},#{fileUrl},#{createTime},#{modified})
    </insert>

    <select id="getQuestionByCreator" parameterType="String" resultType="com.alan.project.dao.Question">
        select * from t_question where creator = #{creator};
    </select>

    <select id="questionCounts" parameterType="com.alan.project.dao.Query" resultType="java.lang.Integer">
        select count(*) from t_question
        <where>
           <if test="search != null and search != ''">
               and title regexp #{search} or tag regexp #{search}
           </if>
        </where>
    </select>

    <select id="getQuestionList" parameterType="com.alan.project.dao.Query" resultType="com.alan.project.dao.Question">
        select * from t_question
        <where>
            <if test="search != null and search != ''">
            and title regexp #{search} or tag regexp #{search}
        </if>
        </where>
        order by create_time desc limit #{page},#{size}
    </select>

    <update id="updateQuestionById" parameterType="com.alan.project.dao.Question" >
        update t_question set title = #{title}, content = #{content} ,html_content = #{htmlContent},tag = #{tag},file_url = #{fileUrl} where id = #{id}
    </update>

    <select id="getQuestions" resultType="com.alan.project.dao.Question">
        select * from t_question limit #{offset},#{limit};
    </select>
    
    <select id="findLikeByQidandUid" resultType="com.alan.project.dao.Thumbup">
        select * from t_thumbup where question_id = #{questionId} and user_id = #{userId};
    </select>

    <insert id="createLike" parameterType="com.alan.project.dao.Thumbup">
        insert into t_thumbup (question_id,user_id,status) values (#{questionId},#{userId},#{status})
    </insert>

    <update id="updateLike" parameterType="com.alan.project.dao.Thumbup">
        update t_thumbup set status = #{status} where id = #{id}
    </update>

    <update id="increaseLikeById" parameterType="java.lang.Integer">
        update t_question set like_count = like_count + 1 where id = #{questionId}
    </update>

    <update id="decreaseLikeById" parameterType="java.lang.Integer">
        update t_question set like_count = like_count - 1 where id = #{questionId}
    </update>
</mapper>