<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alan.project.mapper.UserMapper">
    <insert id="insertUser" parameterType="com.alan.project.dao.User">
        insert into t_user (account_id,name,token,create_time,modified,avatar_url,github_url) values (#{accountId},#{name},#{token},#{createTime},#{modified},#{avatarUrl},#{githubUrl})
    </insert>

    <select id="findUserByToken" parameterType="String" resultType="com.alan.project.dao.User">
        select * from t_user where token = #{token}
    </select>

    <select id="findUserByAccountId" parameterType="String" resultType="com.alan.project.dao.User">
        select * from t_user where account_id = #{accountId}
    </select>

    <update id="updateUser" parameterType="com.alan.project.dao.User">
        update t_user set token = #{token},name = #{name},modified = #{modified},avatar_url = #{avatarUrl} where id = #{id}
    </update>

</mapper>